<section class="form">
    <label>Card Number
        <input type="text" class="textNumberInput" >
    </label>
    <label>Card Name
        <input type="text" class="textNumberInput">
    </label>
    <div class="others-parameters">
    <label>Expiration Date
        <input type="text" class="date">
    </label>
    <label class="date-label">&#160;
        <input type="text" class="date">
    </label>
    <label class="cvv-label">CVV
        <input type="text" class="cvv">
    </label>
    </div>
</section>
<!-- [formControl]="numberCard" -->
<!-- [(ngModel)]="username" -->