<section class="form">
    <form [formGroup]="cardDataReactiveForm">
        <mat-form-field class="number-name">
        <mat-label>Card Number</mat-label>
        <input (focus)="activateRenderArea($event)" (blur)="activateRenderArea($event)"  matInput mask="0000 0000 0000 0000" type="text" class="textNumberInput" formControlName="cardNumber">
        </mat-form-field>
        <mat-form-field class="number-name">
            <mat-label>Card Name</mat-label>
        <input (focus)="activateRenderArea($event)" (blur)="activateRenderArea($event)" matInput  mask="S{9}" type="text" class="textNumberInput" formControlName="cardName">
        </mat-form-field>
        <p class="title-date">Expiration date</p>
    <div class="other-parameters">
        <mat-form-field class="date-block">
            <mat-label>Month</mat-label>
            <mat-select (focus)="activateRenderArea($event)" (blur)="activateRenderArea($event)" class="date" formControlName="month">
                <mat-option [value]="month" *ngFor="let month of months">{{ month }}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="date-block">
            <mat-label>Year</mat-label>
            <mat-select (focus)="activateRenderArea($event)" (blur)="activateRenderArea($event)" class="date" formControlName="year">
                <mat-option [value]="year" *ngFor="let year of years">{{ year }}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="cvv">
            <mat-label>CVV</mat-label>
            <input (focus)="activateRenderArea($event)" (blur)="activateRenderArea($event)" matInput mask="000" type="text" class="cvv" formControlName="cvv">
        </mat-form-field>
    </div>
    </form>
</section>