section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 400px;
    height: 220px;
    background: url(/assets/card-background.jpg) center / auto auto no-repeat;
    background-size: cover;
    z-index: 1;
    position: relative;
    top: 60px;
    border-radius: 15px;
    padding: 10px;
}

p {
    color: white;
    display: inline-block;
    margin: 5px;
}

.number-card {
    color: white;
    font-size: 30px;
    user-select: none;
    margin-top: 40px;
}

.block-name-expires {
    display: flex;
    justify-content: space-between;
}

.parameters {
    display: flex;
    flex-direction: column;
}